@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    transition: all .2s ease;
    text-transform: capitalize;
}

html 
{
    font-size: 62.5%;
}
html::-webkit-scrollbar{
    width: 2em;
    height: 1em;
}

html::-webkit-scrollbar-track{
    background:var(--black);
    border-radius: 100vw;
    margin-block: 0.5em;
}

html::-webkit-scrollbar-thumb{
    background: linear-gradient(var(--gray),var(--gray));
    border-radius: 100vw;
    margin-block: 0.5em;
}
:root
{
    --green: #27ae60;
    --dark-green: #219150;
    --black: #444;
    --gray: #bdb9b9;
    --border: .1rem solid #444;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --bg-color: #ededed;
}
body
{
    background: var(--bg-color);
}

section 
{
    padding: 1rem 5%;
}


.header
{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: var(--green);
    margin-bottom: 3rem;
    margin-top: 0;
}

/* Normal counter */

.heading{
    margin-bottom: 4rem;
    position: relative;
    margin-top: 1rem;
}

.heading span{
    font-size: 2.1rem;
    padding:.5rem 2rem;
    color: rebeccapurple;
    background: var(--bg-color);
    border:var(--border);
    font-weight: 500;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: #000;
    z-index: -1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 1rem;
}

.box {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border: 1px solid var(--black);
    border-radius: .6rem;
    cursor: pointer;
}

.box:first-child {
    border: 3px solid var(--dark-green); /* Set your desired background color */
    border-radius: 0;

}

.buttons
{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.btn {
    margin-top: 10px;
    padding: 12px;
    background: var(--green);
    cursor: pointer;
    color: var(--black);
    border-radius: 1rem;
    font-size: 1.7rem;
}

.goods-list {
    list-style-type: none;
    padding: 0;
    font-size: 1.6rem;
    margin-top: 2rem;
}

.customer-info {
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize;

}

.box h2 
{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--black);
}


/* customer order */

.superMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}
.superMenu.active{
    right:0;
}

.superMenu form { 
    background:#fff;
    border:var(--border);
    width:50%;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: 2rem;
    margin:2rem;
    height:auto;
}

.superMenu form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}

.superMenu form .box1{
    width: 70%;
    margin:2rem 0;
    font-size: 1.6rem;
    border: 2px solid var(--black);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}
.superMenu form .box1::placeholder
{
    text-align: center;
}

.superMenu form .Items 
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.superMenu form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.superMenu form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.superMenu form p a{
    color:var(--green);
    text-decoration: underline;
}

.superMenu form h4 
{
    font-size: 2rem;
    font-weight: 500;
}

.superMenu #close-menu{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}

.Items
{
    width: 100%;
    margin-top: 2rem;
}
.goods
{
    width: 70%;
    /* background: var(--gray); */
    display: flex;    
}
.Cart
{
    font-size: 20px;
    margin-top: 2rem;
}

.button
{
    margin-top: 10px;
    padding: 12px;
    background: var(--green);
    cursor: pointer;
    color: var(--black);
    border-radius: 10rem;
    font-size: 1.7rem;
    display: block;
    margin: 0 auto;
    margin-top: 5rem;
}

span 
{
    color: var(--green);
    margin-right: auto;
    font-size: 1.8rem;
}
.null 
{
    font-size: 20px;
    color: var(--green);
}

#goodsList1
{
    display: none;
}











/* Express Counter */

.grid2 h2
{
    font-size: 3rem;
    font-weight: 500;
    color: rebeccapurple;
}
.grid-container2
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 1rem;
}
.grid-box
{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border: 1px solid var(--black);
    border-radius: .6rem;
    cursor: pointer;
}

.grid-box h3
{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--black);
}

.customer-information .span
{
    color: var(--dark-green);
    font-size: 1.7rem;
}
.customer-information
{
    font-size: 1.5rem; 
}

.item-list {
    /* Style for the item list */
    list-style: none; /* Remove bullet points */
    padding: 0;
    font-size: 1.3rem; /* Adjust the font size as needed */
}

.item-list li {
    /* Style for individual list items */
    margin-bottom: 5px;
}

@media(max-width: 870px)
{
    .header
    {
        font-size: 1.5rem;
        margin-top: 0;
    }
    .grid-container
    {
        margin-top: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-container2
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .superMenu form 
    {
        height: 90vh;
        width: 100%;
    }
    .superMenu form .Items 
    {
        width: 100%;
        display: inline-flex;
        line-height: 2;
    }
    .goods
    {
        width: 100%;
    }
    .superMenu form .box1
    {
        width: 100%;
    }
}

@media(max-width: 350px)
{
    .grid-container2
    {
        grid-template-columns: repeat(1, 1fr);
    }
}